* {
  margin: 0;
  padding: 0;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}




.position{
  position: relative;
}

body{
  background-color: #c9c7c7;
}

nav {

  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5px auto;
  height: fit-content;
  font-size: 1rem;
  align-items: center;
  padding: 10px 10%;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 0.5rem;
}

.brand {
  font-weight: bold;
  font-size: large;
  color: #000;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  margin: 0;
}

li{
  font-size: 0.85rem;
  display: inherit;
}

a {
  text-decoration: none;
  color: lab(14.68% 0 0);
}

.profile-picture {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid black;
}

.icons {
  width: 10%;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Header Section */
#header {
  width: 100%;
  height: 90vh;
  background-image: url(../images/backiee-66971-landscape.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header::before {
  content: "";
  position: absolute;
  background-color: #00000057;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1{
    font-size: 20rem;
   margin-top: 200px;
   margin-bottom: 0; 
}



/* Product Section */

#product{
    width: 90%;
    border-radius: 1.5rem;
    margin: 0 auto;
    padding: 0 0 20px;
    box-shadow: 3px 3px 25px black;
    position: relative;
    top: -65px;
    background-color: #f3f3f3;
}

.search{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 5px;
  height: 25px;
  width: 25%;
  background: #000000;
  color: #c9c7c7;
  border-radius: 1rem;
  border-style: none;
  margin: auto 5px;
  text-align:center;
  line-height: 1.5;
  font-size: smaller;
}

.fa-search{
  position: absolute;
  left: 0;
  height: inherit;
  width: 20px;
  line-height: 30px;
  margin: 0 5px;
}

.top-product{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin-bottom: 20px;
    align-items: center;
}

form{
  font-size: small;
  position: relative;
  outline: none;
  width: 300px;
  line-height: 1.5;
  border: none;
  padding: 2px;
}

input{ 
  position: relative;
  border: 1px solid;
  border-radius: 1rem;
  padding: 5px 5px 5px 20px;
  width: 100%;
  height: 30px;
  
}

.footer-search{
  border: 1px solid white;
}

.side-bar{
  display: flex;
    gap: 10px;
    width: 120px;
    padding: 0 12%;
    margin: 0 10%;
}
.product-container{
  display: flex;
}

.cat-side{
  margin: 10px;
  padding-left: 20px;
}

.category{
  width: 20%;
}


h4{
  font-size: large;
  font-weight: bold;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}




/* Card Styling */

.item-container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 20px;
}

.card-container{
    width: 160px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 20px;
}

.card-container:hover{
  transform: scale(1.02);
}


.add-to-cart{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    line-height: auto;
    height: 30px;
    border-radius: 0.5rem;
    width: 45%;
    font-size: x-small;
}

.add-to-cart:hover{
  background-color: #c9c7c7;
}

.buy-now{
    cursor: pointer;
     background-color: black;
     color: white;
    text-align: center;
    line-height: auto;
    height: 30px;
    border-radius: 0.5rem;
    width: 45%;
}

.buy-now:hover{
  background-color: #000;
}

img{
    width: 100%;
    height: 140px;
    border-radius: 1rem;
    background-color: white;
}

h3{
    font-weight: bold;
    margin: 5px;
    font-size: medium;
    color: #000000;
}

.review{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

.fa-star{
  font-size: x-small;
}

button{
    border: 1px solid black;
    width: 90px;
    height: 30px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.write{
  font-size: x-small;
  color: #457557;
}

hr{
  width: 90%;
  margin: auto;
}

/* Recomendation section */

#recomendation{
  padding: 40px;
  width: 100%;
  margin: auto;
}

h2{
  font-size: 3rem;
}

.arrows{
  display: flex;
  justify-content: space-between;
  width: 50px;
  align-items: center;
}

i{
    cursor: pointer;
}

i:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.recomendation{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recomendation-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* Footer Section */

#footer{
  height: fit-content;
  width: 90%;
  background-color: #000;
  color: #c9c7c7;
  border-radius: 1rem;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}


.search-bar{
  display: inline-block;
  width: 300px;
}
.note{
  display: inline-block;
  width: 400px;
  font-size: smaller;
  margin-top: 40px;
}

p{
  margin-bottom: 0;
}

#contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 200px;
  margin-top: 40px;
}

.about-support{
  display: flex;
  gap: 40px;
  margin: auto;
}

a{
  display: block;
  text-align: left;
  color: #777777;
}

.social-media{
  text-align: left;
  margin: 30px auto;
}

.social-media a{
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.social-media a:hover{
  transform: scale(1.05);
}

.soc{
  text-align: center;
}

.fa-brands{
  margin: 10px 5px 0;
}

@media screen  and (max-width: 425px) {

  .nav-container{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .icons{
    width: auto;
  }

  h1{
    font-size: 10rem;
  }

  #product{
    width: 100%;
  }

 .top-product{
  flex-direction: column;
 }

 .product-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .cat-side{
  padding-left: 0;
  margin: 20px auto;
 }

 .side-bar{
  margin: 10px auto;
  text-align: center;
 }

 #contact{
  padding: 0;
 }

}


/* Navigation Bar */

